body {
 margin: 0; 
 padding:0;
 background: #FFFFFF;
 color: #000000;
 text-align: left;
 }
 
 #title {
 text-align:center;
 position: absolute;
 top: 0px;
 padding-top:10px;
 padding-bottom:10px;
 //border-bottom: 2px solid #000;
 width:840px;
 margin-left:auto;
 margin-right:auto;
 color: #123123;
 z-index: 1;
 font-weight:bold;
 font-family: "Gill Sans", sans-serif;
 font-size:30px;
}

.toptable {
 position: relative;
 top: 10px; 
 margin: 50px;
 width:1224px;
 color: #000000;
 //border: 1px solid black;
}

.toptable1024 {
 position: relative;
 top: 10px; 
 margin: 50px;
 width:1024px;
 color: #000000;
 //border: 1px solid black;
}

.toptablesmall {
 position: relative;
 top: 10px; 
 margin: 50px;
 width:724px;
 color: #000000;
 //border: 1px solid black;
}

.knoppen {
	text-align: center;
	width: 200px;
	border: 2px solid grey;
	border-radius: 15px 15px 15px 0px;
	background-color: rgba(255, 243, 153, 0.7);
}

.RondeRand{
  border: 2px solid grey;
  border-radius: 15px 15px 15px 0px;
  background-color: rgba(255, 243, 153, 0.7);
  padding: 15px;
}

.tekstvak{
	padding: 10px;
  background-color: rgba(255, 243, 153, 0.0);
}


.tekstvakzonderkleur{
	padding: 10px;
}

.grafiek {
	position: relative;
	top: 10px;
	border: 1px solid black;
}

input[type=button_draw] 
{ 
  background-color: #0174DF;
  color: #FFF999;  
  text-align: center;
  width: 80px;  
} 
 
input[type=button_draw]:hover 
{ 
  background-color: #FF0000;
  color: #E0E0E0; 
  text-align: center;
  width: 80px;  
} 