h1,h2,h3, body {
	font-family: 'Source Sans Pro';
	font-weight:300;
}

.HomeButton {
    position:relative;
    font-weight: bold;
    margin: 10px 0 0 50px;
    background: #FFFFFF;
}
.HomeButton:hover {
    position:relative;
    font-weight: bold;
    background: #FFEEEE;
}

h1 { font-size: 3em; }
h2 { color:#2c2f36; font-size:2em; margin-bottom: 15px; }


html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	min-width: 100%;
	max-width: 100%;
	overflow: auto;
  background: #868a7b;
}

#page-wrapper {

	width: 1000px;
  margin: 0 auto;
}

.block {

  margin-left: 20px;
}


.section-heading {

  font-family: 'Cabin Condensed', sans-serif;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0 40px;
}

.item-hover {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.item-hover,
.item-hover * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.item-hover a:hover {
  text-decoration: none;
}

.item-hover img {
  width: 100%;
  height: 100%;
}

.item-hover.square {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 40px 0;
}

.item-hover.square .img {
  position: relative;
  width: 400px;
  height: 400px;
}

.item-hover.square .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);

}


.item-hover.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  text-align: left;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* ------ Hover Effect Styles ------ */

.item-hover.square.effect .info {
  background: #987654;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}


.item-hover.square.effect .info h3 {
  color: #BBBBBB;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 20px;
  top: -70px;
  margin: 10px 5px;
  padding: 55px 0 0 0;
  height: 110px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}


.item-hover.square.effect .info p {
  color: #EEEEEE;
  padding: -10px 5px;
  font-style: italic;
  margin: -70px -10px;
  font-size: 18px;
  line-height: normal;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}


.item-hover.square.effect .img {
  z-index: 10;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

 /* Left to right effect */
.item-hover.square.effect.left_to_right .img {
  -webkit-transform: scale(1) translateX(0);
  -moz-transform: scale(1) translateX(0);
  -ms-transform: scale(1) translateX(0);
  -o-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
}

.item-hover.square.effect.left_to_right .info {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.item-hover.square.effect.left_to_right a:hover .img {
  -webkit-transform: scale(0.1) translateX(400%) translateY(-400%);
  -moz-transform: scale(0.1) translateX(400%) translateY(-400%);
  -ms-transform: scale(0.1) translateX(400%) translateY(-400%);
  -o-transform: scale(0.1) translateX(400%) translateY(-400%);
  transform: scale(0.1) translateX(400%) translateY(-400%);
}

.item-hover.square.effect.left_to_right a:hover .info {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* Right to Left Effect */
.item-hover.square.effect.right_to_left .img {
  -webkit-transform: scale(1) translateX(0);
  -moz-transform: scale(1) translateX(0);
  -ms-transform: scale(1) translateX(0);
  -o-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
}
.item-hover.square.effect.right_to_left .info {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.item-hover.square.effect.right_to_left a:hover .img {
  -webkit-transform: scale(0.5) translateX(-100%);
  -moz-transform: scale(0.5) translateX(-100%);
  -ms-transform: scale(0.5) translateX(-100%);
  -o-transform: scale(0.5) translateX(-100%);
  transform: scale(0.5) translateX(-100%);
}
.item-hover.square.effect.right_to_left a:hover .info {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* ------ End Effect ------ */

